@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "flyonui";
/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */

@source "./node_modules/flyonui/dist/index.js";


@theme {
  --font-google: "Google Sans", sans-serif;
  --font-domine: "Domine", serif;
  --font-inter: "Inter", sans-serif
}